@use "../../../../../node_modules/bulma/sass/utilities/functions" as fn;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../mixins" as mx;
@use 'sass:color';
@use 'sass:math';


@include mx.bulma-theme($name: "sketchy") {

    $white:    #fff !default;
    $gray-100: #f8f9fa !default;
    $gray-200: #f7f7f9 !default;
    $gray-300: #dee2e6 !default;
    $gray-400: #ccc !default;
    $gray-500: #aaa !default;
    $gray-600: #868e96 !default;
    $gray-700: #555 !default;
    $gray-800: #333 !default;
    $gray-900: #212529 !default;
    $black:    #000 !default;

    $blue:    #007bff !default;
    $indigo:  #6610f2 !default;
    $purple:  #6f42c1 !default;
    $pink:    #e83e8c !default;
    $red:     #dc3545 !default;
    $orange:  #fd7e14 !default;
    $yellow:  #ffc107 !default;
    $green:   #28a745 !default;
    $teal:    #20c997 !default;
    $cyan:    #17a2b8 !default;

    @include mx.override-platform-colors((
        "primary":$gray-800,
        "secondary":$gray-700,
        "success":$green,
        "info":$cyan,
        "warning":$yellow,
        "danger":$red,
        "light":(
            $white,
            $gray-700
        ),
        "dark":(
            $gray-700,
            $white
        ),
        "link":$green
    ));

    $list:mx.define-variable("text",$gray-800,());
    
    $list:mx.define-variable("border-width",2px,$list);
    $list:mx.define-variable("border-color",$gray-800,$list);
    $list:mx.define-variable("gray-400",$gray-400,$list);

    $list:mx.define-variable("radius",25px,$list);
    $list:mx.define-variable("radius-small",15px,$list);
    $list:mx.define-variable("radius-medium",25px,$list);
    $list:mx.define-variable("radius-large",35px,$list);

    $list:mx.define-variable("family-primary",
        "Neucha, -apple-system, system-ui, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif",
        $list);
    $list:mx.define-variable("weight-normal",700,$list);

    $list:mx.define-variable("title-family","\"Cabin Sketch\", cursive",$list);
    $list:mx.define-variable("subtitle-family","\"Cabin Sketch\", cursive",$list);
    $list:mx.define-variable("title-weight",500,$list);
    $list:mx.define-variable("subtitle-weight",500,$list);

    $list:mx.define-variable("table-cell-border-color",$gray-800,$list);
    $list:mx.define-variable("table-cell-border-width",2px,$list);
    $list:mx.define-variable("table-row-hover-background-color",$gray-800,$list);

    $list:mx.define-variable("dropdown-divider-background-color",$gray-800,$list);

    $list:mx.define-variable("tabs-border-bottom-color",$gray-800,$list);    
    $list:mx.define-variable("tabs-toggle-link-border-color",$gray-800,$list);    
    $list:mx.define-variable("tabs-link-hover-border-bottom-color",$gray-800,$list);    
    $list:mx.define-variable("tabs-boxed-link-hover-border-bottom-color",$gray-800,$list);    
    $list:mx.define-variable("tabs-toggle-link-hover-border-color",$gray-800,$list);    
    $list:mx.define-variable("tabs-link-active-color",$gray-800,$list);    
    $list:mx.define-variable("tabs-link-active-border-bottom-color",$gray-800,$list);    
    $list:mx.define-variable("tabs-boxed-link-active-border-color",$gray-800,$list);    
    $list:mx.define-variable("tabs-toggle-link-active-border-color",$gray-800,$list);    

    $list:mx.define-variable("progress-bar-background-color",$white,$list);

    $list:mx.define-variable("breadcrumb-item-padding-vertical",0.375rem,$list);
    $list:mx.define-variable("breadcrumb-item-padding-horizontal",0.75rem,$list);
    $list:mx.define-variable("breadcrumb-item-separator-color",$gray-800,$list);
    $list:mx.define-variable("breadcrumb-item-active-color",$gray-800,$list);

    $list:mx.define-variable("table-background-color",$white,$list);
    /*
// Close

$btn-close-color:            inherit !default;
$btn-close-opacity:          1 !default;
$btn-close-hover-opacity:    1 !default;
$btn-close-focus-shadow:     none !default;

// Fonts

$blockquote-small-color:      $gray-800 !default;

// Popovers

$popover-border-color:              $gray-800 !default;

// Toasts

$toast-border-width:                2px !default;
$toast-border-color:                $gray-800 !default;
$toast-header-color:                $gray-800 !default;
$toast-header-border-color:         $toast-border-color !default;

// List group

$list-group-border-color:           $gray-800 !default;
$list-group-hover-bg:               $gray-300 !default;
$list-group-active-color:           $white !default;
$list-group-active-bg:              $gray-800 !default;
$list-group-action-color:           $gray-800 !default;


    */
    
    @include mx.output-skin-content($list);

    @import "./_bootswatch.scss";
}