@include define-skin("cerulean") {
    @import "./_variables.scss";

    $map:define-variable("orange",$orange);
    $map:define-variable("yellow",$yellow,$map);
    $map:define-variable("green",$green,$map);
    $map:define-variable("turquoise",$turquoise,$map);
    $map:define-variable("blue",$blue,$map);
    $map:define-variable("purple",$purple,$map);
    $map:define-variable("red",$red,$map);
    $map:define-variable("grey",$grey,$map);

    $map:define-variable("primary",$primary,$map);
    $map:define-variable("primary-dark",$primary-dark,$map);
    $map:define-variable("warning",$warning,$map);
    $map:define-variable("info",$info,$map);

    $map:define-variable("info-invert",$info-invert,$map);
    $map:define-variable("orange-invert",$orange-invert,$map);
    $map:define-variable("warning-invert",$warning-invert,$map);

    $map:define-variable("family-sans-serif",$family-sans-serif,$map);

    $map:define-variable("title-color",$title-color,$map);
    $map:define-variable("title-weight",$title-weight,$map);
    $map:define-variable("title-weight-bold",$title-weight-bold,$map);

    $map:define-variable("subtitle-weight",$subtitle-weight,$map);
    $map:define-variable("subtitle-strong-color",$subtitle-strong-color,$map);

    $map:define-variable("box-shadow",$box-shadow,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./_overrides.scss";
}