@use "../../../../../node_modules/bulma/sass/utilities/initial-variables" as iv;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../../../../../node_modules/bulma/sass/utilities/derived-variables" as dv;
@use "../mixins" as lmx;

@mixin boot-swatch-content($gray-600, $gray-200, $gray-300, $white){
  &{
    @include cv.register-hsl("gray-600",$gray-600);
    @include cv.register-hsl("gray-200",$gray-200);
    @include cv.register-hsl("gray-300",$gray-300);
  }


  a.#{iv.$class-prefix}dropdown-item,
  button.#{iv.$class-prefix}dropdown-item {
    color: hsl(
      #{cv.getVar("gray-600-h")},
      #{cv.getVar("gray-600-s")},
      #{cv.getVar("gray-600-l")}
    );
    &:hover {
      color: hsl(
        #{cv.getVar("gray-600-h")},
        #{cv.getVar("gray-600-s")},
        #{cv.getVar("gray-600-l")}
      );
      background-color: hsl(
        #{cv.getVar("gray-200-h")},
        #{cv.getVar("gray-200-s")},
        #{cv.getVar("gray-200-l")}
      );
    }

    &:active {
      color: hsl(
        #{cv.getVar("gray-600-h")},
        #{cv.getVar("gray-600-s")},
        #{cv.getVar("gray-600-l")}
      );
      background-color: hsl(
        #{cv.getVar("gray-200-h")},
        #{cv.getVar("gray-200-s")},
        #{cv.getVar("gray-200-l")}
      );
    }
  }

  .#{iv.$class-prefix}pagination-previous,
  .#{iv.$class-prefix}pagination-next,
  .#{iv.$class-prefix}pagination-link,
  .#{iv.$class-prefix}pagination-ellipsis {
    color: hsl(
      #{cv.getVar("gray-600-h")},
      #{cv.getVar("gray-600-s")},
      calc( #{cv.getVar("gray-600-l")} + #{cv.getVar("pagination-item-l-delta")} )
    );
    background-color: hsl(
      #{cv.getVar("gray-200-h")},
      #{cv.getVar("gray-200-s")},
      calc( #{cv.getVar("gray-200-l")} + #{cv.getVar("pagination-item-background-l-delta")} )
    );
    border-color: hsl(
      #{cv.getVar("gray-300-h")},
      #{cv.getVar("gray-300-s")},
      calc( #{cv.getVar("gray-300-l")} + #{cv.getVar("pagination-item-border-l-delta")} )
    );
  }

  .#{iv.$class-prefix}pagination-previous,
  .#{iv.$class-prefix}pagination-next,
  .#{iv.$class-prefix}pagination-link {
    &:hover{
      color: hsl(
        #{cv.getVar("gray-600-h")},
        #{cv.getVar("gray-600-s")},
        calc( #{cv.getVar("gray-600-l")} + #{cv.getVar("pagination-item-l-delta")} )
      );
    }

    &:active{
      color: hsl(
        #{cv.getVar("gray-600-h")},
        #{cv.getVar("gray-600-s")},
        calc( #{cv.getVar("gray-600-l")} + #{cv.getVar("pagination-item-l-delta")} )
      );
      background-color: hsl(
        #{cv.getVar("gray-300-h")},
        #{cv.getVar("gray-300-s")},
        calc( #{cv.getVar("gray-300-l")} + #{cv.getVar("pagination-item-background-l-delta")} )
      );
      border-color: hsl(
        #{cv.getVar("gray-300-h")},
        #{cv.getVar("gray-300-s")},
        calc( #{cv.getVar("gray-300-l")} + #{cv.getVar("pagination-item-border-l-delta")} )
      );
    }

    &[disabled],
    &.#{iv.$class-prefix}is-disabled {
      color: hsl(
        #{cv.getVar("gray-300-h")},
        #{cv.getVar("gray-300-s")},
        calc( #{cv.getVar("gray-300-l")} + #{cv.getVar("pagination-item-l-delta")} )
      );
      background-color: hsl(
        #{cv.getVar("gray-200-h")},
        #{cv.getVar("gray-200-s")},
        calc( #{cv.getVar("gray-200-l")} + #{cv.getVar("pagination-item-background-l-delta")} )
      );
      border-color: hsl(
        #{cv.getVar("gray-300-h")},
        #{cv.getVar("gray-300-s")},
        calc( #{cv.getVar("gray-200-l")} + #{cv.getVar("pagination-item-border-l-delta")} )
      );
    }
  }

  .#{iv.$class-prefix}card {
    border-color: rgba($gray-300, .75);
  }

  .#{iv.$class-prefix}modal-content,
  .#{iv.$class-prefix}modal-card {
    border-color: hsl(
      #{cv.getVar("gray-300-h")},
      #{cv.getVar("gray-300-s")},
      #{cv.getVar("gray-300-l")}
    );
  }

  .#{iv.$class-prefix}breadcrumb {
    background-color: hsl(
      #{cv.getVar("gray-200-h")},
      #{cv.getVar("gray-200-s")},
      #{cv.getVar("gray-200-l")}
    );
    border-radius: .25rem;
  }

  .#{iv.$class-prefix}progress{
    @include lmx.override-color-variable("progress-value-background-color","primary");
  }

  // Navbar

  .sandstone {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
  }

  .#{iv.$class-prefix}navbar {
    .#{iv.$class-prefix}navbar-item,
    .#{iv.$class-prefix}navbar-link {
      @extend .sandstone;
    }
  }

  // Buttons

  .#{iv.$class-prefix}button {
    @extend .sandstone;

    &:hover {
      border-color: transparent;
    }

    &.#{iv.$class-prefix}is-success:not(.#{iv.$class-prefix}is-outlined),
    &.#{iv.$class-prefix}is-warning:not(.#{iv.$class-prefix}is-outlined) {
      color: $white;
    }

    &.#{iv.$class-prefix}is-outlined{
      color:#{cv.getVar("text")};
      @each $name,$value in dv.$colors{
        &#{iv.$class-prefix}is-#{$name}{
          color: #{cv.getVar($name)};
        }
      }
    }
  }

  // Forms

  // input,
  // .form-control {
  //   @include box-shadow(none);

  //   &:focus {
  //     @include box-shadow(none);
  //   }
  // }

  .#{iv.$class-prefix}tabs {
    @include cv.register-vars((
      "tabs-link-background-color":hsl(#{cv.getVar("gray-200-h")},#{cv.getVar("gray-200-s")},#{cv.getVar("gray-200-l")}),
      "tabs-link-disabled-background-color":hsl(#{cv.getVar("gray-200-h")},#{cv.getVar("gray-200-s")},#{cv.getVar("gray-200-l")}),
      "tabs-border-bottom-color":hsl(#{cv.getVar("gray-300-h")},#{cv.getVar("gray-300-s")},#{cv.getVar("gray-300-l")}),
      "tabs-toggle-link-border-color":hsl(#{cv.getVar("gray-300-h")},#{cv.getVar("gray-300-s")},#{cv.getVar("gray-300-l")}),
      "tabs-link-disabled-color":hsl(#{cv.getVar("gray-300-h")},#{cv.getVar("gray-300-s")},#{cv.getVar("gray-300-l")}),
      "tabs-link-active-color":hsla(#{cv.getVar("gray-600-h")}, #{cv.getVar("gray-600-s")}, 43%, 1),
      "tabs-link-color":hsla(#{cv.getVar("gray-600-h")}, #{cv.getVar("gray-600-s")}, 43%, 1)
    ));

    li {
      @extend .sandstone;
      background-color: cv.getVar("tabs-link-background-color");

      &.#{iv.$class-prefix}is-disabled{
        background-color: cv.getVar("tabs-link-disabled-background-color");
        border-color: cv.getVar("tabs-border-bottom-color");
        a,
        a:hover,
        a:focus {
          color: cv.getVar("tabs-link-active-color");
        }
      }
    }

    a,
    a:hover,
    a:focus {
      color: cv.getVar("tabs-link-color");
    }
  }

  // .nav-pills {
  //   .nav-link {
  //     @extend .sandstone;
  //     color: $gray-600;
  //     border: 1px solid transparent;
  //   }

  //   .nav-link.active,
  //   .nav-link:hover,
  //   .nav-link:focus {
  //     background-color: $gray-200;
  //     border-color: $gray-300;
  //   }

  //   .nav-link.disabled,
  //   .nav-link.disabled:hover {
  //     color: $gray-300;
  //     background-color: transparent;
  //     border-color: transparent;
  //   }
  // }


  .#{iv.$class-prefix}breadcrumb {
    @extend .sandstone;
    border: 1px solid hsl(
        #{cv.getVar("gray-300-h")},
        #{cv.getVar("gray-300-s")},
        #{cv.getVar("gray-300-l")}
      );
  }

  .#{iv.$class-prefix}pagination {
    @extend .sandstone;

    .#{iv.$class-prefix}pagination-previous,
    .#{iv.$class-prefix}pagination-next,
    .#{iv.$class-prefix}pagination-link{
      &:hover{
        text-decoration: none;  
      }
    }
  }

  .#{iv.$class-prefix}dropdown-menu {
    .#{iv.$class-prefix}dropdown-item {
      @extend .sandstone;
    }
  }

  // Indicators

  .#{iv.$class-prefix}notification {
    color: $white;

    a{
      color: $white;
      text-decoration: underline;
    }

    &.#{iv.$class-prefix}is-light {
      &,
      a:not(.button){
        color: #{cv.getVar("text")};
      }
    }
  }

  .#{iv.$class-prefix}notification{
    
    &.#{iv.$class-prefix}is-info{
      color: hsl(
        cv.getVar("notification-h"),
        cv.getVar("notification-s"),
        17%
      );
    }

  }

  .#{iv.$class-prefix}pagination {
    @include cv.register-var("gray-600-l",50%);
  }
}