@include define-skin("materia") {
    @import "./variables.scss";

    $map:define-variable("orange",$orange);
    $map:define-variable("yellow",$yellow,$map);
    $map:define-variable("green",$green,$map);
    $map:define-variable("turquoise",$turquoise,$map);
    $map:define-variable("cyan",$cyan,$map);
    $map:define-variable("blue",$blue,$map);
    $map:define-variable("purple",$purple,$map);
    $map:define-variable("red",$red,$map);

    $map:define-variable("primary",$primary,$map);

    $map:define-variable("family-sans-serif",$family-sans-serif,$map);
    $map:define-variable("title-weight",$title-weight,$map);
    $map:define-variable("title-weight-bold",$title-weight-bold,$map);

    $map:define-variable("radius",$radius,$map);
    $map:define-variable("shadow",$shadow,$map);
    $map:define-variable("shadow-large",$shadow-large,$map);

    $map:define-variable("button-border-color",$button-border-color,$map);
    $map:define-variable("button-hover-border",$button-hover-border,$map);
    $map:define-variable("button-focus-border-color",$button-focus-border-color,$map);
    $map:define-variable("button-active-border-color",$button-active-border-color,$map);

    $map:define-variable("input-disabled-background-color",$input-disabled-background-color,$map);

    $map:define-variable("border-width",$border-width,$map);

    $map:define-variable("navbar-height",$navbar-height,$map);

    $map:define-variable("dropdown-content-shadow",$dropdown-content-shadow,$map);
    $map:define-variable("dropdown-content-radius",$dropdown-content-radius,$map);

    $map:define-variable("box-shadow",$box-shadow,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}