$border-sides: 'left','right','top','bottom'
$border-styles: 'dotted','dashed','double','groove','ridge','inset','outset'

.is-bordered
    border-width: 1px
    border-style: solid
    &.is-rounded
        border-radius: 5px
    @each $name, $pair in $colors
        $color: nth($pair, 1)
        $color-invert: nth($pair, 2)
        &.is-#{$name}
            border-color: $color-invert

@each $side in $border-sides
    .is-bordered-#{$side}
        border-#{$side}-width: 1px
        border-#{$side}-style: solid
        &.is-rounded 
            border-radius: 5px
        @each $name, $pair in $colors
            $color: nth($pair, 1)
            $color-invert: nth($pair, 2)
            &.is-#{$name}
                border-#{$side}-color: $color-invert

@each $style in $border-styles
    .is-bordered-#{$style}
        border-width: 1px 
        border-style: $style 
        &.is-rounded 
            border-radius: 1px
        @each $name, $pair in $colors
            $color: nth($pair, 1)
            $color-invert: nth($pair, 2)
            &.is-#{$name}
                border-color: $color-invert
    @each $side in $border-sides 
        .is-bordered-#{$side}-#{$style}
            border-#{$side}-style: $style
            border-#{$side}-width: 1px  
            &.is-rounded 
                border-radius: 1-px
            @each $name, $pair in $colors
                $color: nth($pair, 1)
                $color-invert: nth($pair, 2)
                &.is-#{$name}
                    border-#{$side}-color: $color-invert

@for $i from 1 through 12
    .is-bordered 
        &.has-border-size-#{$i}
            border-width: #{$i}px
    @each $side in $border-sides
        .is-bordered-#{$side}
            &.has-border-size-#{$i}
                border-#{$side}-width: #{$i}px