@include define-skin("nuclear") {
    @import "./variables.scss";

    $map:define-variable("black",$black);
    $map:define-variable("black-bis",$black-bis,$map);
    $map:define-variable("black-ter",$black-ter,$map);
    $map:define-variable("grey-darker",$grey-darker,$map);
    $map:define-variable("grey-dark",$grey-dark,$map);
    $map:define-variable("grey",$grey,$map);
    $map:define-variable("grey-light",$grey-light,$map);
    $map:define-variable("grey-lighter",$grey-lighter,$map);

    $map:define-variable("white-ter",$white-ter,$map);
    $map:define-variable("white-bis",$white-bis,$map);
    $map:define-variable("white",$white,$map);

    $map:define-variable("black",$black,$map);
    $map:define-variable("black-bis",$black-bis,$map);
    $map:define-variable("black-ter",$black-ter,$map);
    $map:define-variable("grey-darker",$grey-darker,$map);
    $map:define-variable("grey-dark",$grey-dark,$map);
    $map:define-variable("grey",$grey,$map);
    $map:define-variable("grey-light",$grey-light,$map);
    $map:define-variable("grey-lighter",$grey-lighter,$map);
    $map:define-variable("white-ter",$white-ter,$map);
    $map:define-variable("white-bis",$white-bis,$map);
    $map:define-variable("white",$white,$map);

    $map:define-variable("orange",$orange,$map);
    $map:define-variable("yellow",$yellow,$map);
    $map:define-variable("green",$green,$map);
    $map:define-variable("turquoise",$turquoise,$map);
    $map:define-variable("blue",$blue,$map);
    $map:define-variable("purple",$purple,$map);
    $map:define-variable("red",$red,$map);

    $map:define-variable("primary",$primary,$map);
    $map:define-variable("warning",$warning,$map);
    $map:define-variable("border",$border,$map);
    $map:define-variable("border-hover",$border-hover,$map);

    $map:define-variable("body-background-color",$body-background-color,$map);

    $map:define-variable("font-heading",$font-heading,$map);

    $map:define-variable("box-background",$box-background,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}