@use "../../../../../node_modules/bulma/sass/utilities/initial-variables" as iv;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../../../../../node_modules/bulma/sass/utilities/derived-variables" as dv;
@use "../mixins" as lmx;

@mixin boot-swatch-content(){

  .#{iv.$class-prefix}title{
    &.#{iv.$class-prefix}is-1{
      font-size:4rem;
    }
    &.#{iv.$class-prefix}is-2{
      font-size:3rem;
    }
    &.#{iv.$class-prefix}is-3{
      font-size:2.5rem;
    }
    &.#{iv.$class-prefix}is-4{
      font-size:2rem;
    }
    &.#{iv.$class-prefix}is-5{
      font-size:1.5rem;
    }
    &.#{iv.$class-prefix}is-6{
      font-size:1rem;
    }
  }

  .#{iv.$class-prefix}hero{
    &.#{iv.$class-prefix}is-white{
      .#{iv.$class-prefix}title,
      .#{iv.$class-prefix}subtitle{
        @include cv.register-vars((
          "title-color":#{cv.getVar("scheme")},
          "subtitle-color":#{cv.getVar("scheme")}
        ));
      }
    }
  }


  .#{iv.$class-prefix}button {

    &.#{iv.$class-prefix}is-outlined {
      
      &.#{iv.$class-prefix}is-black{
        @include cv.register-var("button-l",56%);
      }
      
      &.#{iv.$class-prefix}is-dark{
        @include cv.register-var("button-l",54%);
      }
      
      &.#{iv.$class-prefix}is-primary{
        @include cv.register-var("button-l",55%);
      }

      &.#{iv.$class-prefix}is-link{
        @include cv.register-var("button-l",71%);
      }

      &.#{iv.$class-prefix}is-danger{
        @include cv.register-var("button-l",60%);
      }
    }
  }

  .#{iv.$class-prefix}dropdown{
    .#{iv.$class-prefix}dropdown-trigger{
      .#{iv.$class-prefix}button {
        @include cv.register-vars((
          "button-background-l":7%,
          "button-color-l":49%
        ));
        
      } 
    }
  }

  .#{iv.$class-prefix}message{
    .#{iv.$class-prefix}message-body{
      @include cv.register-vars((
          "message-background-l":19%,
          "message-color-l":63%
        ));
    }
  }

  .#{iv.$class-prefix}pagination {
    @include cv.register-var("pagination-item-color-l",54%);
  }

  .#{iv.$class-prefix}section {
      @include cv.register-vars((
          "text-l":56%,
          "body-color":hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},#{cv.getVar("text-l")})
      ));
      color: #{cv.getVar("body-color")};
  }

  .#{iv.$class-prefix}box {
    color: hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},56%);
  }
}