@use "../../../../../node_modules/bulma/sass/utilities/functions" as fn;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../mixins" as mx;
@use "./_bootswatch" as bs;
@use 'sass:color';
@use 'sass:math';


@include mx.bulma-theme($name: "simplex") {

    $white:    #fff !default;
    $gray-100: #f8f9fa !default;
    $gray-200: #ddd !default;
    $gray-300: #ccc !default;
    $gray-400: #bbb !default;
    $gray-500: #adb5bd !default;
    $gray-600: #777 !default;
    $gray-700: #444 !default;
    $gray-800: #373a3c !default;
    $gray-900: #212529 !default;
    $black:    #000 !default;

    $blue:    #007bff !default;
    $indigo:  #6610f2 !default;
    $purple:  #9b479f !default;
    $pink:    #e83e8c !default;
    $red:     #d9230f !default;
    $orange:  #d9831f !default;
    $yellow:  #ffc107 !default;
    $green:   #469408 !default;
    $teal:    #20c997 !default;
    $cyan:    #029acf !default;

    $primary:       $red !default;
    $secondary:     $white !default;
    $success:       $green !default;
    $info:          $cyan !default;
    $warning:       $orange !default;
    $danger:        $purple !default;
    $light:         $white !default;
    $dark:          $gray-800 !default;

    @include mx.override-platform-colors((
        "primary":$red,
        "secondary":$white,
        "success":$green,
        "info":$cyan,
        "warning":$orange,
        "danger":$purple,
        "light":(
            $white,
            $gray-800
        ),
        "dark":(
            $gray-800,
            $white
        ),
        "link":$green
    ));

    $nav-tabs-border-color: color.adjust(#fff,$lightness: -6.5%);

    $list:mx.define-variable("body-background-color",#fcfcfc,());

    $list:mx.define-variable("family-primary",
        "\"Open Sans\", -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\"",
        $list);

    $list:mx.define-variable("navbar-padding-vertical",0.9rem,$list);

    $list:mx.define-variable("tabs-border-bottom-color",$nav-tabs-border-color,$list);
    $list:mx.define-variable("tabs-toggle-link-border-color",$nav-tabs-border-color,$list);
    $list:mx.define-variable("tabs-link-active-color",cv.getVar("primary"),$list);
    $list:mx.define-variable("tabs-link-active-border-bottom-color",cv.getVar("primary"),$list);
    $list:mx.define-variable("tabs-toggle-link-border-color",cv.getVar("primary"),$list);
    $list:mx.define-variable("tabs-boxed-link-active-border-color",cv.getVar("primary"),$list);
    $list:mx.define-variable("tabs-toggle-link-active-color",$white,$list);
    $list:mx.define-variable("tabs-toggle-link-active-background-color",cv.getVar("primary"),$list);
    $list:mx.define-variable("tabs-toggle-link-active-border-color",cv.getVar("primary"),$list);

    $list:mx.define-variable("breadcrumb-item-padding-vertical",0.375rem,$list);
    $list:mx.define-variable("breadcrumb-item-padding-horizontal",0.75rem,$list);
    /*
// Popovers

$popover-border-color:              $nav-tabs-border-color !default;

// Modals

$modal-content-border-color:        $nav-tabs-border-color !default;
$modal-header-border-color:         $nav-tabs-border-color !default;

// List group

$list-group-border-color:           $nav-tabs-border-color !default;
$list-group-disabled-bg:            $nav-tabs-border-color !default;

// Breadcrumbs
$breadcrumb-border-radius:          .25rem !default;


    */
    
    @include mx.output-skin-content($list);

    @include bs.boot-swatch-content($white, $gray-400, $nav-tabs-border-color);
}