@include define-skin("yeti") {
    @import "./variables.scss";

    $map:define-variable("grey-darker",$grey-darker);
    $map:define-variable("grey-dark",$grey-dark,$map);
    $map:define-variable("grey",$grey,$map);
    $map:define-variable("grey-light",$grey-light,$map);
    $map:define-variable("grey-lighter",$grey-lighter,$map);

    $map:define-variable("orange",$orange,$map);
    $map:define-variable("green",$green,$map);
    $map:define-variable("cyan",$cyan,$map);
    $map:define-variable("red",$red,$map);

    $map:define-variable("primary",$primary,$map);
    $map:define-variable("warning",$warning,$map);

    $map:define-variable("orange-invert",$orange-invert,$map);
    $map:define-variable("warning-invert",$warning-invert,$map);

    $map:define-variable("border",$border,$map);
    $map:define-variable("family-sans-serif",$family-sans-serif,$map);
    $map:define-variable("body-size",$body-size,$map);

    $map:define-variable("radius",$radius,$map);
    $map:define-variable("radius-small",$radius-small,$map);
    $map:define-variable("radius-large",$radius-large,$map);

    $map:define-variable("subtitle-color",$subtitle-color,$map);

    $map:define-variable("button-background-color",$button-background-color,$map);
    $map:define-variable("button-border-color",$button-border-color,$map);

    $map:define-variable("navbar-background-color",$navbar-background-color,$map);
    $map:define-variable("navbar-item-color",$navbar-item-color,$map);
    $map:define-variable("navbar-item-hover-color",$navbar-item-hover-color,$map);
    $map:define-variable("navbar-item-active-color",$navbar-item-active-color,$map);
    $map:define-variable("navbar-item-hover-background-color",$navbar-item-hover-background-color,$map);
    $map:define-variable("navbar-dropdown-arrow",$navbar-dropdown-arrow,$map);

    $map:define-variable("box-shadow",$box-shadow,$map);
    $map:define-variable("card-shadow",$card-shadow,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}