@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv


$tooltip-l: calc(#{cv.getVar("background","","-l")} + #{cv.getVar("active-background","","-l-delta")})

$tooltip-arrow-size: 6px
$tooltip-background-color: #{cv.buildHslaString("scheme",$tooltip-l)}
$tooltip-background-opacity: 0.9
$tooltip-color: #{cv.getVar("body-color")}
$tooltip-font-family: #{cv.getVar("family-primary")}
$tooltip-font-size: #{cv.getVar("size-7")}
$tooltip-max-width: 15rem
$tooltip-padding: .5rem 1rem
$tooltip-radius: #{cv.getVar("radius-small")}
$tooltip-z-index: 1020
$tooltip-border-color: #{cv.buildHslaString("scheme",$tooltip-l,$tooltip-background-opacity)}