$icon-height:48px;
$icon-padding-height:calc($icon-height / 2) - 4px;
$card-padding:calc($icon-height / 2);

.card, .modal-card {
    .card-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $card-header-color;
        height: $icon-height;
        margin-bottom: 0 - $icon-height;
        .card-icon-wrapper{
            height: $icon-height;
            padding-top: $icon-padding-height;
            width: $icon-height;
            text-align: center;
            border-radius: 50%;
            box-shadow: $card-shadow;
            margin-top:0 - $icon-height;
        }
    }
}

.card {
    &:has(.card-icon){
        margin-top:$card-padding;
        .card-header{
            &:has(.card-header-title.is-centered){
                padding-top:0.5em;
            }
        }
    }
    .card-icon{
        .card-icon-wrapper{
            background-color:$card-background-color;
        }
    }
}

.modal-card {
    &:has(.card-icon){
        padding-top:$card-padding;
        .modal-card-head{
            &:has(.card-header-title.is-centered){
                padding-top:0.5em;
            }
        }
    }
    .card-icon{
        z-index:calc($modal-z + 1);
        .card-icon-wrapper{
            background-color:$modal-card-head-background-color;
        }
    }
}