@use "../../../../node_modules/bulma/sass/utilities/initial-variables" as iv

.#{iv.$class-prefix}has-cursor 
	&.#{iv.$class-prefix}is-alias 
		cursor: alias
	&.#{iv.$class-prefix}is-all-scroll 
		cursor: all-scroll
	&.#{iv.$class-prefix}is-auto 
		cursor: auto
	&.#{iv.$class-prefix}is-cell 
		cursor: cell
	&.#{iv.$class-prefix}is-context-menu 
		cursor: context-menu
	&.#{iv.$class-prefix}is-col-resize 
		cursor: col-resize
	&.#{iv.$class-prefix}is-copy 
		cursor: copy
	&.#{iv.$class-prefix}is-crosshair 
		cursor: crosshair
	&.#{iv.$class-prefix}is-default 
		cursor: default
	&.#{iv.$class-prefix}is-e-resize 
		cursor: e-resize
	&.#{iv.$class-prefix}is-ew-resize 
		cursor: ew-resize
	&.#{iv.$class-prefix}is-grab 
		cursor: grab
	&.#{iv.$class-prefix}is-grabbing 
		cursor: grabbing
	&.#{iv.$class-prefix}is-help 
		cursor: help
	&.#{iv.$class-prefix}is-move 
		cursor: move
	&.#{iv.$class-prefix}is-n-resize 
		cursor: n-resize
	&.#{iv.$class-prefix}is-ne-resize 
		cursor: ne-resize
	&.#{iv.$class-prefix}is-nesw-resize 
		cursor: nesw-resize
	&.#{iv.$class-prefix}is-ns-resize 
		cursor: ns-resize
	&.#{iv.$class-prefix}is-nw-resize 
		cursor: nw-resize
	&.#{iv.$class-prefix}is-nwse-resize 
		cursor: nwse-resize
	&.#{iv.$class-prefix}is-no-drop 
		cursor: no-drop
	&.#{iv.$class-prefix}is-none 
		cursor: none
	&.#{iv.$class-prefix}is-not-allowed 
		cursor: not-allowed
	&.#{iv.$class-prefix}is-pointer 
		cursor: pointer
	&.#{iv.$class-prefix}is-progress 
		cursor: progress
	&.#{iv.$class-prefix}is-row-resize 
		cursor: row-resize
	&.#{iv.$class-prefix}is-s-resize 
		cursor: s-resize
	&.#{iv.$class-prefix}is-se-resize 
		cursor: se-resize
	&.#{iv.$class-prefix}is-sw-resize 
		cursor: sw-resize
	&.#{iv.$class-prefix}is-text 
		cursor: text
	&.#{iv.$class-prefix}is-url 
		cursor: url(myBall&.#{iv.$class-prefix}is-cur),auto
	&.#{iv.$class-prefix}is-w-resize 
		cursor: w-resize
	&.#{iv.$class-prefix}is-wait 
		cursor: wait
	&.#{iv.$class-prefix}is-zoom-in 
		cursor: zoom-in
	&.#{iv.$class-prefix}is-zoom-out 
		cursor: zoom-out