.menu
	&.is-fixed-menu
		position: sticky
		top: 0px
		&.is-fixed-menu-left
			left: 0px
		&.is-fixed-menu-right
			right: 0px

&.has-navbar-fixed-top .menu
	&.is-fixed-menu
		top: $navbar-height