$map:define-variable("background",$background);
$map:define-variable("black",$black,$map);
$map:define-variable("black-bis",$black-bis,$map);
$map:define-variable("black-ter",$black-ter,$map);
$map:define-variable("blue",$blue,$map);
$map:define-variable("border",$border,$map);
$map:define-variable("border-hover",$border-hover,$map);
$map:define-variable("border-light",$border-light,$map);
$map:define-variable("cyan",$cyan,$map);
$map:define-variable("dark",$dark,$map);
$map:define-variable("green",$green,$map);
$map:define-variable("grey",$grey,$map);
$map:define-variable("grey-dark",$grey-dark,$map);
$map:define-variable("grey-darker",$grey-darker,$map);

$map:define-variable("grey-light",$grey-light,$map);
$map:define-variable("grey-lighter",$grey-lighter,$map);
$map:define-variable("grey-lightest",$grey-lightest,$map);
$map:define-variable("light",$light,$map);
$map:define-variable("link",$link,$map);
$map:define-variable("link-active",$link-active,$map);
$map:define-variable("link-active-border",$link-active-border,$map);
$map:define-variable("link-focus",$link-focus,$map);
$map:define-variable("link-focus-border",$link-focus-border,$map);
$map:define-variable("link-hover",$link-hover,$map);
$map:define-variable("link-hover-border",$link-hover-border,$map);
$map:define-variable("link-invert",$link-invert,$map);
$map:define-variable("primary",$primary,$map);
$map:define-variable("primary-invert",$primary-invert,$map);
$map:define-variable("purple",$purple,$map);
$map:define-variable("red",$red,$map);
$map:define-variable("scheme-invert",$scheme-invert,$map);
$map:define-variable("scheme-main",$scheme-main,$map);
$map:define-variable("scheme-main-bis",$scheme-main-bis,$map);
$map:define-variable("scheme-main-ter",$scheme-main-ter,$map);
$map:define-variable("shadow",$shadow,$map);
$map:define-variable("text",$text,$map);
$map:define-variable("text-invert",$text-invert,$map);
$map:define-variable("text-light",$text-light,$map);
$map:define-variable("text-strong",$text-strong,$map);
$map:define-variable("turquoise",$turquoise,$map);
$map:define-variable("white",$white,$map);
$map:define-variable("white-ter",$white-ter,$map);
$map:define-variable("white-bis",$white-bis,$map);
$map:define-variable("yellow",$yellow,$map);

$map:define-variable("family-code",$family-code,$map);
$map:define-variable("family-monospace",$family-monospace,$map);
$map:define-variable("family-primary",$family-primary,$map);
$map:define-variable("family-sans-serif",$family-sans-serif,$map);

$map:define-variable("size-3",$size-3,$map);
$map:define-variable("size-4",$size-4,$map);
$map:define-variable("size-5",$size-5,$map);
$map:define-variable("size-6",$size-6,$map);
$map:define-variable("size-7",$size-7,$map);
$map:define-variable("size-small",$size-small,$map);
$map:define-variable("weight-bold",$weight-bold,$map);
$map:define-variable("weight-normal",$weight-normal,$map);
$map:define-variable("weight-semibold",$weight-semibold,$map);

$map:define-variable("block-spacing",$block-spacing,$map);
$map:define-variable("control-border-width",$control-border-width,$map);
$map:define-variable("control-height",$control-height,$map);
$map:define-variable("control-padding-horizontal",$control-padding-horizontal,$map);
$map:define-variable("radius",$radius,$map);
$map:define-variable("radius-large",$radius-large,$map);
$map:define-variable("radius-rounded",$radius-rounded,$map);
$map:define-variable("radius-small",$radius-small,$map);

//base/generic
$map:define-variable("body-size",$body-size,$map);
$map:define-variable("body-min-width",$body-min-width,$map);
$map:define-variable("body-rendering",$body-rendering,$map);
$map:define-variable("body-overflow-x",$body-overflow-x,$map);
$map:define-variable("body-overflow-y",$body-overflow-y,$map);

$map:define-variable("body-line-height",$body-line-height,$map);

$map:define-variable("code-padding",$code-padding,$map);
$map:define-variable("code-weight",$code-weight,$map);
$map:define-variable("code-size",$code-size,$map);

$map:define-variable("small-font-size",$small-font-size,$map);

$map:define-variable("hr-height",$hr-height,$map);
$map:define-variable("hr-margin",$hr-margin,$map);

$map:define-variable("pre-font-size",$pre-font-size,$map);
$map:define-variable("pre-padding",$pre-padding,$map);
$map:define-variable("pre-code-font-size",$pre-code-font-size,$map);

//components/breadcrumb
$map:define-variable("breadcrumb-item-padding-vertical",$breadcrumb-item-padding-vertical,$map);
$map:define-variable("breadcrumb-item-padding-horizontal",$breadcrumb-item-padding-horizontal,$map);

//components/card
$map:define-variable("card-radius",$card-radius,$map);
$map:define-variable("card-header-background-color",$card-header-background-color,$map);
$map:define-variable("card-header-padding",$card-header-padding,$map);
$map:define-variable("card-content-background-color",$card-content-background-color,$map);
$map:define-variable("card-content-padding",$card-content-padding,$map);
$map:define-variable("card-footer-background-color",$card-footer-background-color,$map);
$map:define-variable("card-footer-padding",$card-footer-padding,$map);

//components/dropdown
$map:define-variable("dropdown-menu-min-width",$dropdown-menu-min-width,$map);
$map:define-variable("dropdown-content-offset",$dropdown-content-offset,$map);
$map:define-variable("dropdown-content-padding-bottom",$dropdown-content-padding-bottom,$map);
$map:define-variable("dropdown-content-padding-top",$dropdown-content-padding-top,$map);
$map:define-variable("dropdown-content-z",$dropdown-content-z,$map);

//components/level

//components/media
$map:define-variable("media-border-size",$media-border-size,$map);
$map:define-variable("media-spacing",$media-spacing,$map);
$map:define-variable("media-spacing-large",$media-spacing-large,$map);
$map:define-variable("media-content-spacing",$media-content-spacing,$map);
$map:define-variable("media-level-1-spacing",$media-level-1-spacing,$map);
$map:define-variable("media-level-1-content-spacing",$media-level-1-content-spacing,$map);
$map:define-variable("media-level-2-spacing",$media-level-2-spacing,$map);

//components/menu
$map:define-variable("menu-list-line-height",$menu-list-line-height,$map);
$map:define-variable("menu-list-link-padding",$menu-list-link-padding,$map);
$map:define-variable("menu-nested-list-margin",$menu-nested-list-margin,$map);
$map:define-variable("menu-nested-list-padding-left",$menu-nested-list-padding-left,$map);
$map:define-variable("menu-label-font-size",$menu-label-font-size,$map);
$map:define-variable("menu-label-letter-spacing",$menu-label-letter-spacing,$map);
$map:define-variable("menu-label-spacing",$menu-label-spacing,$map);

//components/message
$map:define-variable("message-header-padding",$message-header-padding,$map);
$map:define-variable("message-body-border-width",$message-body-border-width,$map);
$map:define-variable("message-body-padding",$message-body-padding,$map);
$map:define-variable("message-body-pre-code-background-color",$message-body-pre-code-background-color,$map);
$map:define-variable("message-header-body-border-width",$message-header-body-border-width,$map);

//components/modal
$map:define-variable("modal-z",$modal-z,$map);
$map:define-variable("modal-content-width",$modal-content-width,$map);
$map:define-variable("modal-content-margin-mobile",$modal-content-margin-mobile,$map);
$map:define-variable("modal-content-spacing-mobile",$modal-content-spacing-mobile,$map);
$map:define-variable("modal-content-spacing-tablet",$modal-content-spacing-tablet,$map);
$map:define-variable("modal-close-dimensions",$modal-close-dimensions,$map);
$map:define-variable("modal-close-right",$modal-close-right,$map);
$map:define-variable("modal-close-top",$modal-close-top,$map);
$map:define-variable("modal-card-spacing",$modal-card-spacing,$map);
$map:define-variable("modal-card-head-border-bottom",$modal-card-head-border-bottom,$map);
$map:define-variable("modal-card-head-padding",$modal-card-head-padding,$map);
$map:define-variable("modal-card-title-line-height",$modal-card-title-line-height,$map);
$map:define-variable("modal-card-foot-border-top",$modal-card-foot-border-top,$map);
$map:define-variable("modal-card-body-padding",$modal-card-body-padding,$map);

//components/navbar
$map:define-variable("navbar-box-shadow-size",$navbar-box-shadow-size,$map);
$map:define-variable("navbar-height",$navbar-height,$map);
$map:define-variable("navbar-padding-vertical",$navbar-padding-vertical,$map);
$map:define-variable("navbar-padding-horizontal",$navbar-padding-horizontal,$map);
$map:define-variable("navbar-z",$navbar-z,$map);
$map:define-variable("navbar-fixed-z",$navbar-fixed-z,$map);
$map:define-variable("navbar-item-active-background-color",$navbar-item-active-background-color,$map);
$map:define-variable("navbar-item-img-max-height",$navbar-item-img-max-height,$map);
$map:define-variable("navbar-tab-hover-background-color",$navbar-tab-hover-background-color,$map);
$map:define-variable("navbar-tab-active-background-color",$navbar-tab-active-background-color,$map);
$map:define-variable("navbar-tab-active-border-bottom-style",$navbar-tab-active-border-bottom-style,$map);
$map:define-variable("navbar-tab-active-border-bottom-width",$navbar-tab-active-border-bottom-width,$map);
$map:define-variable("navbar-dropdown-border-top",$navbar-dropdown-border-top,$map);
$map:define-variable("navbar-dropdown-offset",$navbar-dropdown-offset,$map);
$map:define-variable("navbar-dropdown-z",$navbar-dropdown-z,$map);
$map:define-variable("navbar-divider-height",$navbar-divider-height,$map);
$map:define-variable("navbar-bottom-box-shadow-size",$navbar-bottom-box-shadow-size,$map);

//components/pagination
$map:define-variable("pagination-margin",$pagination-margin,$map);
$map:define-variable("pagination-item-font-size",$pagination-item-font-size,$map);
$map:define-variable("pagination-item-margin",$pagination-item-margin,$map);
$map:define-variable("pagination-item-padding-left",$pagination-item-padding-left,$map);
$map:define-variable("pagination-item-padding-right",$pagination-item-padding-right,$map);
$map:define-variable("pagination-nav-padding-left",$pagination-nav-padding-left,$map);
$map:define-variable("pagination-nav-padding-right",$pagination-nav-padding-right,$map);

//components/panel
$map:define-variable("panel-heading-line-height",$panel-heading-line-height,$map);
$map:define-variable("panel-heading-padding",$panel-heading-padding,$map);
$map:define-variable("panel-heading-size",$panel-heading-size,$map);
$map:define-variable("panel-tabs-font-size",$panel-tabs-font-size,$map);

//components/tabs
$map:define-variable("tabs-border-bottom-style",$tabs-border-bottom-style,$map);
$map:define-variable("tabs-border-bottom-width",$tabs-border-bottom-width,$map);
$map:define-variable("tabs-link-padding",$tabs-link-padding,$map);
$map:define-variable("tabs-boxed-link-active-border-bottom-color",$tabs-boxed-link-active-border-bottom-color,$map);
$map:define-variable("tabs-toggle-link-border-style",$tabs-toggle-link-border-style,$map);
$map:define-variable("tabs-toggle-link-border-width",$tabs-toggle-link-border-width,$map);

//elements/box
$map:define-variable("box-padding",$box-padding,$map);

//elements/button
$map:define-variable("button-padding-vertical",$button-padding-vertical,$map);
$map:define-variable("button-padding-horizontal",$button-padding-horizontal,$map);
$map:define-variable("button-focus-box-shadow-size",$button-focus-box-shadow-size,$map);
$map:define-variable("button-text-decoration",$button-text-decoration,$map);
$map:define-variable("button-ghost-background",$button-ghost-background,$map);
$map:define-variable("button-ghost-border-color",$button-ghost-border-color,$map);
$map:define-variable("button-ghost-decoration",$button-ghost-decoration,$map);
$map:define-variable("button-ghost-hover-decoration",$button-ghost-hover-decoration,$map);
$map:define-variable("button-disabled-shadow",$button-disabled-shadow,$map);
$map:define-variable("button-disabled-opacity",$button-disabled-opacity,$map);

//elements/container

//elements/content
$map:define-variable("content-heading-line-height",$content-heading-line-height,$map);
$map:define-variable("content-block-margin-bottom",$content-block-margin-bottom,$map);
$map:define-variable("content-blockquote-padding",$content-blockquote-padding,$map);
$map:define-variable("content-pre-padding",$content-pre-padding,$map);
$map:define-variable("content-table-cell-border-width",$content-table-cell-border-width,$map);
$map:define-variable("content-table-cell-padding",$content-table-cell-padding,$map);
$map:define-variable("content-table-head-cell-border-width",$content-table-head-cell-border-width,$map);
$map:define-variable("content-table-body-last-row-cell-border-bottom-width",$content-table-body-last-row-cell-border-bottom-width,$map);
$map:define-variable("content-table-foot-cell-border-width",$content-table-foot-cell-border-width,$map);

//elements/icon
$map:define-variable("icon-dimensions",$icon-dimensions,$map);
$map:define-variable("icon-dimensions-small",$icon-dimensions-small,$map);
$map:define-variable("icon-dimensions-medium",$icon-dimensions-medium,$map);
$map:define-variable("icon-dimensions-large",$icon-dimensions-large,$map);
$map:define-variable("icon-text-spacing",$icon-text-spacing,$map);

//elements/notification
$map:define-variable("notification-padding",$notification-padding,$map);
$map:define-variable("notification-padding-ltr",$notification-padding-ltr,$map);
$map:define-variable("notification-padding-rtl",$notification-padding-rtl,$map);


//elements/progress
$map:define-variable("progress-indeterminate-duration",$progress-indeterminate-duration,$map);

//elements/table
$map:define-variable("table-cell-border-width",$table-cell-border-width,$map);
$map:define-variable("table-cell-padding",$table-cell-padding,$map);
$map:define-variable("table-cell-text-align",$table-cell-text-align,$map);
$map:define-variable("table-head-cell-border-width",$table-head-cell-border-width,$map);
$map:define-variable("table-foot-cell-border-width",$table-foot-cell-border-width,$map);
$map:define-variable("table-head-background-color",$table-head-background-color,$map);
$map:define-variable("table-body-background-color",$table-body-background-color,$map);
$map:define-variable("table-foot-background-color",$table-foot-background-color,$map);

//elements/tag
$map:define-variable("tag-delete-margin",$tag-delete-margin,$map);

//elements/title
$map:define-variable("title-line-height",$title-line-height,$map);
$map:define-variable("title-strong-color",$title-strong-color,$map);
$map:define-variable("title-strong-weight",$title-strong-weight,$map);
$map:define-variable("title-sub-size",$title-sub-size,$map);
$map:define-variable("title-sup-size",$title-sup-size,$map);
$map:define-variable("subtitle-line-height",$subtitle-line-height,$map);
$map:define-variable("subtitle-negative-margin",$subtitle-negative-margin,$map);

//form/file
$map:define-variable("file-name-border-style",$file-name-border-style,$map);
$map:define-variable("file-name-border-width",$file-name-border-width,$map);
$map:define-variable("file-name-max-width",$file-name-max-width,$map);

//form/input-textarea
$map:define-variable("textarea-max-height",$textarea-max-height,$map);
$map:define-variable("textarea-min-height",$textarea-min-height,$map);

//form/select

//form/shared
$map:define-variable("input-focus-box-shadow-size",$input-focus-box-shadow-size,$map);

//form/tools

//grid/columns
$map:define-variable("column-gap",$column-gap,$map);

//grid/tiles
$map:define-variable("tile-spacing",$tile-spacing,$map);

//layout/footer
$map:define-variable("footer-padding",$footer-padding,$map);

//layout/hero
$map:define-variable("hero-body-padding",$hero-body-padding,$map);
$map:define-variable("hero-body-padding-tablet",$hero-body-padding-tablet,$map);
$map:define-variable("hero-body-padding-small",$hero-body-padding-small,$map);
$map:define-variable("hero-body-padding-medium",$hero-body-padding-medium,$map);
$map:define-variable("hero-body-padding-large",$hero-body-padding-large,$map);

//layout/section
$map:define-variable("section-padding",$section-padding,$map);
$map:define-variable("section-padding-desktop",$section-padding-desktop,$map);
$map:define-variable("section-padding-medium",$section-padding-medium,$map);
$map:define-variable("section-padding-large",$section-padding-large,$map);

//utilities/controls
$map:define-variable("control-border-width",$control-border-width,$map);
$map:define-variable("control-height",$control-height,$map);
$map:define-variable("control-line-height",$control-line-height,$map);

//utilties/derived-variables
//utilities/initial-variables
// Colors

$map:define-variable("black",$black,$map);
$map:define-variable("black-bis",$black-bis,$map);
$map:define-variable("black-ter",$black-ter,$map);

$map:define-variable("grey-darker",$grey-darker,$map);
$map:define-variable("grey-dark",$grey-dark,$map);
$map:define-variable("grey",$grey,$map);
$map:define-variable("grey-light",$grey-light,$map);
$map:define-variable("grey-lighter",$grey-lighter,$map);
$map:define-variable("grey-lightest",$grey-lightest,$map);

$map:define-variable("white-ter",$white-ter,$map);
$map:define-variable("white-bis",$white-bis,$map);
$map:define-variable("white",$white,$map);

$map:define-variable("orange",$orange,$map);
$map:define-variable("yellow",$yellow,$map);
$map:define-variable("green",$green,$map);
$map:define-variable("turquoise",$turquoise,$map);
$map:define-variable("cyan",$cyan,$map);
$map:define-variable("blue",$blue,$map);
$map:define-variable("purple",$purple,$map);
$map:define-variable("red",$red,$map);

// Typography

$map:define-variable("family-sans-serif",$family-sans-serif,$map);
$map:define-variable("family-monospace",$family-monospace,$map);
$map:define-variable("render-mode",$render-mode,$map);

$map:define-variable("size-1",$size-1,$map);
$map:define-variable("size-2",$size-2,$map);
$map:define-variable("size-3",$size-3,$map);
$map:define-variable("size-4",$size-4,$map);
$map:define-variable("size-5",$size-5,$map);
$map:define-variable("size-6",$size-6,$map);
$map:define-variable("size-7",$size-7,$map);

$map:define-variable("weight-light",$weight-light,$map);
$map:define-variable("weight-normal",$weight-normal,$map);
$map:define-variable("weight-medium",$weight-medium,$map);
$map:define-variable("weight-semibold",$weight-semibold,$map);
$map:define-variable("weight-bold",$weight-bold,$map);

// Spacing

$map:define-variable("block-spacing",$block-spacing,$map);

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$map:define-variable("gap",$gap,$map);

// Miscellaneous

$map:define-variable("easing",$easing,$map);
$map:define-variable("radius-small",$radius-small,$map);
$map:define-variable("radius",$radius,$map);
$map:define-variable("radius-large",$radius-large,$map);
$map:define-variable("radius-rounded",$radius-rounded,$map);
$map:define-variable("speed",$speed,$map);

@include output-skin-map($map);