@use "../../../../../node_modules/bulma/sass/utilities/initial-variables" as iv;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../../../../../node_modules/bulma/sass/utilities/derived-variables" as dv;
@use "../mixins" as lmx;

@mixin boot-swatch-content(){

  .#{iv.$class-prefix}title{
    &.#{iv.$class-prefix}is-1{
      font-size:4rem;
    }
    &.#{iv.$class-prefix}is-2{
      font-size:3rem;
    }
    &.#{iv.$class-prefix}is-3{
      font-size:2.5rem;
    }
    &.#{iv.$class-prefix}is-4{
      font-size:2rem;
    }
    &.#{iv.$class-prefix}is-5{
      font-size:1.5rem;
    }
    &.#{iv.$class-prefix}is-6{
      font-size:1rem;
    }
  }

  .#{iv.$class-prefix}label,
  .#{iv.$class-prefix}notification{
    color:#FFF;
  }

  .#{iv.$class-prefix}is-white{
    .#{iv.$class-prefix}title{
      @include cv.register-var("title-color",#{cv.getVar("text","","")});
    }
    .#{iv.$class-prefix}subtitle{
      @include cv.register-var("subtitle-color",#{cv.getVar("text","","")});
    }
  }

  .#{iv.$class-prefix}button {

    &.#{iv.$class-prefix}is-warning{
      @include cv.register-var("button-background-l",43%);
    }

    &.#{iv.$class-prefix}is-outlined {
      &.#{iv.$class-prefix}is-black{
        @include cv.register-var("button-l",49%);
      }
      &.#{iv.$class-prefix}is-light{
        @include cv.register-var("button-l",47%);
      }
      &.#{iv.$class-prefix}is-link{
        @include cv.register-var("button-l",66%);
      }
      &.#{iv.$class-prefix}is-info{
        @include cv.register-var("button-l",57%);
      }
      &.#{iv.$class-prefix}is-danger{
        @include cv.register-var("button-l",47%);
      }
    }
  }

  .#{iv.$class-prefix}dropdown{
    .#{iv.$class-prefix}dropdown-trigger{
      .#{iv.$class-prefix}button {
        @include cv.register-vars((
          "button-background-l":5%,
          "button-color-l":50%
        ));
        
      } 
    }
  }
}