@use "../../../../../node_modules/bulma/sass/utilities/functions" as fn;
@use "../mixins" as mx;
@use "./_bootswatch" as bs;
@use 'sass:color';
@use 'sass:math';


@include mx.bulma-theme($name: "cyborg") {

    $white:    #fff !default;
    $gray-100: #f8f9fa !default;
    $gray-200: #e9ecef !default;
    $gray-300: #dee2e6 !default;
    $gray-400: #adafae !default;
    $gray-500: #888 !default;
    $gray-600: #555 !default;
    $gray-700: #282828 !default;
    $gray-800: #222 !default;
    $gray-900: #212529 !default;
    $black:    #000 !default;

    $blue:    #2a9fd6 !default;
    $indigo:  #6610f2 !default;
    $purple:  #6f42c1 !default;
    $pink:    #e83e8c !default;
    $red:     #c00 !default;
    $orange:  #fd7e14 !default;
    $yellow:  #967e63 !default;
    $green:   #77b300 !default;
    $teal:    #20c997 !default;
    $cyan:    #93c !default;
    $scheme-main: #060606;

    @include mx.override-dark-mode-basics((
        "primary":$blue,
        "success":$green,
        "info":$cyan,
        "warning":$yellow,
        "danger":$red,
        "light":(
            $gray-800,
            $gray-400
        ),
        "dark":(
            $gray-400,
            $gray-800
        )
    ),
    $scheme-main);

    $list:mx.define-variable("family-primary",
        "Roboto, -apple-system, BlinkMacSystemFont, \"Segoe UI\", \"Helvetica Neue\", Arial, sans-serif",
        ());

    $list:mx.define-variable("text",$gray-400,$list);
    $list:mx.define-variable("title-color",$white,$list);
    $list:mx.define-variable("subtitle-color",$white,$list);

    $list:mx.define-variable("input-background-l",color.channel($white, "lightness", $space: hsl),$list);
    $list:mx.define-variable("input-color-l",color.channel($scheme-main, "lightness", $space: hsl),$list);

    $list:mx.define-variable("table-color",$white,$list);
    $list:mx.define-variable("table-cell-heading-color",$white,$list);
    $list:mx.define-variable("table-foot-cell-color",$white,$list);
    $list:mx.define-variable("table-head-cell-color",$white,$list);

    @include mx.output-skin-content($list);

    @include bs.boot-swatch-content();
}