@use "../../../../../node_modules/bulma/sass/utilities/derived-variables" as dv;
@use "../../../../../node_modules/bulma/sass/utilities/initial-variables" as iv;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../../../../../node_modules/bulma/sass/utilities/mixins" as mx;
@use "../mixins" as lmx;

// Overrides

.delete {
  background-color: rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.button{
  @include cv.register-vars(
        (
          "button-h": 0,
          "button-s": 0%,
          "button-background-l": 17%
        )
      );
  color:#{cv.getVar("text")};
  
  &.#{iv.$class-prefix}is-loading::after{
    color:#{cv.getVar("text")} !important;
    border-left-color:#{cv.getVar("text")};
    border-bottom-color:#{cv.getVar("text")};
  }

  @each $name, $pair in dv.$colors {
    &.#{iv.$class-prefix}is-#{$name} {
      @include cv.register-vars(
        (
          "button-h": #{cv.getVar($name, "", "-h")},
          "button-s": #{cv.getVar($name, "", "-s")},
          "button-background-l": #{cv.getVar($name, "", "-l")}
        )
      );
      color: hsl(#{cv.getVar("button-h")},#{cv.getVar("button-s")},#{cv.getVar("button-color-l")});

      &.#{iv.$class-prefix}is-outlined,
      &.#{iv.$class-prefix}is-inverted{
        color: hsl(
            #{cv.getVar("button-h")},
            #{cv.getVar("button-s")},
            calc(
              #{cv.getVar("button-border-l")} + #{cv.getVar("button-border-l-delta")}
            )
          );
      }
    }
  }
}

.label {
  color: #{cv.getVar("grey-lighter")};
}

.#{iv.$class-prefix}control{
  &.#{iv.$class-prefix}has-icons-left,
  &.#{iv.$class-prefix}has-icons-right{
    .#{iv.$class-prefix}icon{
      color: #{cv.getVar("grey-dark")};
    }
  }
}

.#{iv.$class-prefix}file-cta,
.#{iv.$class-prefix}file-name{
  color:#{cv.getVar("white")};
}

.#{iv.$class-prefix}file{
  @include lmx.override-color-variables("file","grey-darker");
}

.#{iv.$class-prefix}tag {
  @include lmx.override-color-variables("tag","grey-dark");
}

.#{iv.$class-prefix}notification {
  @include lmx.override-color-variables("notification","grey-dark");
  color:#{cv.getVar("white")};

  @each $name, $pair in dv.$colors {
    &.is-#{$name} {
      a:not(.button) {
        color: #{cv.getVar($name,"","-invert")};
        text-decoration: underline;
      }
    }
  }
}

.#{iv.$class-prefix}message{
  @include lmx.override-color-variables("message","grey-dark");

  &.#{iv.$class-prefix}is-link,
  &.#{iv.$class-prefix}is-dark,
  &.#{iv.$class-prefix}is-black{
    .#{iv.$class-prefix}message-body{
      color:#{cv.getVar("white")};
    }
  }
}

.#{iv.$class-prefix}menu-list {
  a,
  button,
  .#{iv.$class-prefix}menu-item{
    @include cv.register-vars(
      (
        "menu-item-h":0deg,
        "menu-item-s":0%,
        "menu-item-background-l":0%
      )
    );

    &.#{iv.$class-prefix}is-active,
    &.#{iv.$class-prefix}is-selected{
      @include cv.register-vars(
        (
          "menu-item-h":#{cv.getVar("menu-item-selected-h")},
          "menu-item-s":#{cv.getVar("menu-item-selected-s")},
          "menu-item-l":#{cv.getVar("menu-item-selected-l")},
          "menu-item-background-l":#{cv.getVar("menu-item-selected-background-l")},
          "menu-item-color-l":#{cv.getVar("menu-item-selected-color-l")}
        )
      );
    }

    &:hover {
      @include cv.register-vars(
        (
          "menu-item-background-l-delta": 10%,
        )
      );
    }

    &:active {
      @include cv.register-vars(
        (
          "menu-item-background-l-delta": 10%,
        )
      );
    }
  }
} 

.#{iv.$class-prefix}menu-label{
  color:#{cv.getVar("white")};
}

.#{iv.$class-prefix}modal{
  @include cv.register-vars(
    (
      "modal-card-head-background-color":#{cv.getVar("grey-darker")},
      "modal-card-foot-background-color":#{cv.getVar("grey-darker")},
      "modal-card-body-background-color":#{cv.getVar("black-ter")}
    )
  );
}

.#{iv.$class-prefix}navbar {
  border: 1px solid #{cv.getVar("grey-dark")};

  @include lmx.override-color-variable("navbar-background-color","body-background-color");

  .#{iv.$class-prefix}navbar-dropdown {
    border: 1px solid #{cv.getVar("grey-darker")};
  }

  @include mx.touch {
    .#{iv.$class-prefix}navbar-menu {
      background-color: #{cv.getVar("navbar-background-color")};
    }
  }
}

.#{iv.$class-prefix}pagination{
  .#{iv.$class-prefix}pagination-previous, 
  .#{iv.$class-prefix}pagination-next, 
  .#{iv.$class-prefix}pagination-link {
    color:#{cv.getVar("white")};

    &:hover,
    &:active{
      color:#{cv.getVar("info")};
      border-color: #{cv.getVar("info")};
    }
  }
}

.#{iv.$class-prefix}panel-heading{
  @include cv.register-vars(
    (
      "panel-h":#{cv.getVar("grey-dark-h")},
      "panel-s":#{cv.getVar("grey-dark-s")},
      "panel-heading-background-l":#{cv.getVar("grey-dark-l")},
      "panel-heading-color-l":100%
    )
  );
}

.#{iv.$class-prefix}panel-block{
  &.#{iv.$class-prefix}is-active {
    @include cv.register-var("panel-block-active-color", #{cv.getVar("link")});

    .#{iv.$class-prefix}panel-icon{
      color:#{cv.getVar("link")};
    }
  }
}

.#{iv.$class-prefix}tabs{
  &.#{iv.$class-prefix}is-boxed {
    li.#{iv.$class-prefix}is-active {
      a{
        @include cv.register-var("tabs-boxed-link-active-background-color",#{cv.getVar("body-background-color")});
      }
    }
  }
}

.#{iv.$class-prefix}card {
  $card-border-color: #{lmx.lighten-color("grey-darker", 5)};
  box-shadow: none;
  background-color: #{cv.getVar("grey-darker")};

  .#{iv.$class-prefix}card-header {
    box-shadow: none;
    background-color: #{cv.buildHslaString("black-bis","",0.2)};
  }

  .#{iv.$class-prefix}card-footer {
    background-color: #{cv.buildHslaString("black-bis","",0.2)};
  }

  .#{iv.$class-prefix}card-footer,
  .#{iv.$class-prefix}card-footer-item {
    border-color: #{cv.getVar("card-border-color")};
  }
}

a,
button{
  &.#{iv.$class-prefix}dropdown-item{
    &.#{iv.$class-prefix}is-active,
    &.#{iv.$class-prefix}is-selected{
      @include cv.register-var("dropdown-item-background-l-delta",0%);
    }
  }
}

.hero {
  @include lmx.override-color-variables("hero","grey-dark");
  background-color: hsl(
    #{cv.getVar("hero-h")},
    #{cv.getVar("hero-s")},
    #{cv.getVar("hero-background-l")}
  );
  .navbar {
    &,
    .navbar-menu,
    .navbar-dropdown {
      border: none;
    }
  }

  $color: hsl(
    #{cv.getVar("hero-h")},
    #{cv.getVar("hero-s")},
    #{cv.getVar("hero-color-l")}
  );

  .#{iv.$class-prefix}subtitle {
    @include cv.register-vars(
      (
        "subtitle-color": $color,
        "subtitle-strong-color": $color,
      )
    );
  }

  .#{iv.$class-prefix}title {
    @include cv.register-vars(
      (
        "title-color": $color,
        "title-strong-color": $color,
      )
    );
  }
}
