@use "../../../../../node_modules/bulma/sass/utilities/initial-variables" as iv;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../../../../../node_modules/bulma/sass/utilities/derived-variables" as dv;
@use "../mixins" as lmx;

@mixin boot-swatch-content($gray-600, $white, $nav-link-disabled-color){

  .#{iv.$class-prefix}control{
    &.#{iv.$class-prefix}has-icons-left,
    &.#{iv.$class-prefix}has-icons-right{
      .#{iv.$class-prefix}icon{
        color:#{cv.getVar("text")};
        background-color:$gray-600;
      }
    }
  }

  a.#{iv.$class-prefix}dropdown-item,
  button.#{iv.$class-prefix}dropdown-item {
    &:hover{
      background-color: #{cv.getVar("table-row-hover-background-color")};
      color: #{cv.getVar("text")};
    }
  }

  .#{iv.$class-prefix}pagination-previous,
  .#{iv.$class-prefix}pagination-next,
  .#{iv.$class-prefix}pagination-link,
  .#{iv.$class-prefix}pagination-ellipsis {
    color: $white;
    background-color: $gray-600;
    border-color: transparent;
  }

  .#{iv.$class-prefix}pagination-previous,
  .#{iv.$class-prefix}pagination-next,
  .#{iv.$class-prefix}pagination-link {
    &:hover {
      color: $white;
      background-color: $nav-link-disabled-color;
      border-color: transparent;
    }

    &[disabled],
    &.#{iv.$class-prefix}is-disabled {
      color: $nav-link-disabled-color;
      background-color: $gray-600;
      border-color:transparent;
    }
  }

  .#{iv.$class-prefix}breadcrumb {
    background-color: $gray-600;
  }

  .#{iv.$class-prefix}button {

    &.#{iv.$class-prefix}is-outlined {
      
      &.#{iv.$class-prefix}is-black{
        @include cv.register-var("button-l",56%);
      }

      &.#{iv.$class-prefix}is-dark{
        @include cv.register-var("button-l",55%);
      }

      &.#{iv.$class-prefix}is-link{
        @include cv.register-var("button-l",71%);
      }

      &.#{iv.$class-prefix}is-danger{
        @include cv.register-var("button-l",62%);
      }
    }
  }

  .#{iv.$class-prefix}dropdown{
    .#{iv.$class-prefix}dropdown-trigger{
      .#{iv.$class-prefix}button {
        @include cv.register-vars((
          "button-background-l":8%,
          "button-color-l":49%
        ));
        
      } 
    }
  }

  .#{iv.$class-prefix}message{
    .#{iv.$class-prefix}message-body{
      @include cv.register-vars((
          "message-background-l":18%,
          "message-color-l":65%
        ));
    }
  }

  .#{iv.$class-prefix}section {
      @include cv.register-vars((
          "text-l":56%,
          "body-color":hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},#{cv.getVar("text-l")})
      ));
      color: #{cv.getVar("body-color")};
  }

  .#{iv.$class-prefix}box,
  .#{iv.$class-prefix}level,
  .#{iv.$class-prefix}media,
  .#{iv.$class-prefix}card,
  .#{iv.$class-prefix}modal-card,
  .#{iv.$class-prefix}steps-container {
    color: hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},57%);
  }

  .#{iv.$class-prefix}modal-card-foot {
    color: hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},63%);
  }

  .#{iv.$class-prefix}panel {
    @include cv.register-var("panel-block-color",hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},57%));
    .#{iv.$class-prefix}panel-tabs {
      color: hsl(
        cv.getVar("panel-h"),
        cv.getVar("panel-s"),
        53%
      );
    }

    .#{iv.$class-prefix}panel-heading {
      color: hsl(
        cv.getVar("panel-h"),
        cv.getVar("panel-s"),
        27%
      );
    }
  }

  .#{iv.$class-prefix}table {
    th{
      color:hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},28%);
    }

    td{
      color:hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},57%);
    }

    &.#{iv.$class-prefix}is-striped {
      tbody {
        tr:not(.#{iv.$class-prefix}is-selected) {
          &:nth-child(even) {
            td{
              color:hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},60%);
            }
          }
        }
      }
    }
  }

  .#{iv.$class-prefix}tabs {
    @include cv.register-vars((
      "tabs-link-active-color":hsla(#{cv.getVar("link-h")}, #{cv.getVar("link-s")}, 72%, 1),
      "tabs-link-color":hsl(#{cv.getVar("text-h")}, #{cv.getVar("text-s")}, 65%)
    ));
  }

  .#{iv.$class-prefix}slideout {
    @include cv.register-var("slideout-color-l",67%);
  }

  $labelShitL:56%;

  form {
    @include cv.register-vars((
      "label-color":hsl(#{cv.getVar("text-h")},#{cv.getVar("text-s")},$labelShitL)
    ));

    .#{iv.$class-prefix}field{
        .#{iv.$class-prefix}checkbox,
        .#{iv.$class-prefix}is-form-paragraph{
            color: hsl(
                #{cv.getVar("text-h")},
                #{cv.getVar("text-s")},
                $labelShitL
            );
        }
    }
  }

  .#{iv.$class-prefix}block-list {
    li.#{iv.$class-prefix}is-link.#{iv.$class-prefix}is-outlined,
    &.#{iv.$class-prefix}is-link.#{iv.$class-prefix}is-outlined > li {
      @include cv.register-var("block-list-color",hsl(#{cv.getVar("link-h")},#{cv.getVar("link-s")}, 71%));
    }
  }
}