@include define-skin("lumen") {
    @import "./variables.scss";

    $map:define-variable("orange",$orange);
    $map:define-variable("green",$green,$map);
    $map:define-variable("blue",$blue,$map);
    $map:define-variable("red",$red,$map);

    $map:define-variable("primary",$primary,$map);

    $map:define-variable("info-invert",$info-invert,$map);

    $map:define-variable("family-sans-serif",$family-sans-serif,$map);

    $map:define-variable("thickness",$thickness,$map);

    $map:define-variable("pagination-current-border",$pagination-current-border,$map);

    $map:define-variable("navbar-item-active-color",$navbar-item-active-color,$map);

    $map:define-variable("dropdown-content-shadow",$dropdown-content-shadow,$map);

    $map:define-variable("navbar-dropdown-boxed-shadow",$navbar-dropdown-boxed-shadow,$map);


    $map:define-variable("box-shadow",$box-shadow,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}