@include define-skin("cosmo") {
    @import "./variables.scss";

    $map:define-variable("grey-darker",$grey-darker);
    $map:define-variable("black-ter",$black-ter,$map);

    $map:define-variable("orange",$orange,$map);
    $map:define-variable("yellow",$yellow,$map);
    $map:define-variable("green",$green,$map);
    $map:define-variable("turquoise",$turquoise,$map);
    $map:define-variable("blue",$blue,$map);
    $map:define-variable("purple",$purple,$map);
    $map:define-variable("red",$red,$map);
    $map:define-variable("grey",$grey,$map);

    $map:define-variable("primary",$primary,$map);
    $map:define-variable("primary-dark",$primary-dark,$map);
    $map:define-variable("warning",$warning,$map);
    $map:define-variable("info",$info,$map);

    $map:define-variable("orange-invert",$orange-invert,$map);
    $map:define-variable("warning-invert",$warning-invert,$map);

    $map:define-variable("family-sans-serif",$family-sans-serif,$map);

    $map:define-variable("body-size",$body-size,$map);

    $map:define-variable("radius",$radius,$map);
    $map:define-variable("radius-small",$radius-small,$map);
    $map:define-variable("radius-large",$radius-large,$map);

    $map:define-variable("link-hover",$link-hover,$map);
    $map:define-variable("link-focus",$link-focus,$map);
    $map:define-variable("link-active",$link-active,$map);

    $map:define-variable("button-hover-color",$button-hover-color,$map);
    $map:define-variable("button-focus",$button-focus,$map);
    $map:define-variable("button-active-color",$button-active-color,$map);

    $map:define-variable("box-shadow",$box-shadow,$map);
    $map:define-variable("card-shadow",$card-shadow,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}