$colors: (
    "white": (var(--white), var(--black)), 
    "black": (var(--black), var(--white)), 
    "light": (var(--light), var(--light-invert)), 
    "dark": (var(--dark), var(--dark-invert)), 
    "primary": (var(--primary), var(--primary-invert), var(--primary-light), var(--primary-dark)), 
    "link": (var(--link), var(--link-invert), var(--link-light), var(--link-dark)), 
    "info": (var(--info), var(--info-invert), var(--info-light), var(--info-dark)), 
    "success": (var(--success), var(--success-invert), var(--success-light), var(--success-dark)), 
    "warning": (var(--warning), var(--warning-invert), var(--warning-light), var(--warning-dark)), 
    "danger": (var(--danger), var(--danger-invert), var(--danger-light), var(--danger-dark))
);

$shades: (
    "black-bis": var(--black-bis), 
    "black-ter": var(--black-ter), 
    "grey-darker": var(--grey-darker), 
    "grey-dark": var(--grey-dark), 
    "grey": var(--grey), 
    "grey-light": var(--grey-light), 
    "grey-lighter": var(--grey-lighter), 
    "white-ter": var(--white-ter), 
    "white-bis": var(--white-bis)
);

$message-colors: (
  "white": (var(--white), var(--black), var(--white-messages-light), var(--white--messages-dark)), 
  "black": (var(--black), var(--white), var(--black-messages-light), var(--black--messages-dark)), 
  "light": (var(--light), var(--light-invert), var(--light-messages-light), var(--light--messages-dark)), 
  "dark": (var(--dark), var(--dark-invert), var(--dark-messages-light), var(--dark--messages-dark)), 
  "primary": (var(--primary), var(--primary-invert), var(--primary-messages-light), var(--primary--messages-dark)), 
  "link": (var(--link), var(--link-invert), var(--link-messages-light), var(--link--messages-dark)), 
  "info": (var(--info), var(--info-invert), var(--info-messages-light), var(--info--messages-dark)), 
  "success": (var(--success), var(--success-invert), var(--success-messages-light), var(--success--messages-dark)), 
  "warning": (var(--warning), var(--warning-invert), var(--warning-messages-light), var(--warning--messages-dark)), 
  "danger": (var(--danger), var(--danger-invert), var(--danger-messages-light), var(--danger--messages-dark))
);

$navbar-colors: $colors;
$panel-colors: $colors;
$button-colors: $colors;
$notification-colors: $colors;
$progress-colors: $colors;
$table-colors: $colors;
$tag-colors: $colors;
$form-colors:$colors;
$file-colors: $form-colors;
$textarea-colors: $form-colors;
$select-colors: $form-colors;
$label-colors: $form-colors;
$hero-colors: $colors;

@function getColorName($color){
  @return str-slice('#{$color}',7,-2);
}

@function bulmaDarken($color, $amount){
  $percentage: str-slice('#{$amount}',1,-2);
  @return #{darken-variable(getColorName($color),$percentage)};
}

@function bulmaRgba($color, $alpha){
  @return 'rgba(from #{$color}, #{$alpha})';
}

@function bulmaLighten($color, $amount){
  $percentage: str-slice('#{$amount}',1,-2);
  @return #{lighten-variable(getColorName($color),$percentage)};
}