@use "../../../../../node_modules/bulma/sass/utilities/initial-variables" as iv;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../../../../../node_modules/bulma/sass/utilities/derived-variables" as dv;
@use "../mixins" as lmx;

@mixin boot-swatch-content(){

  .#{iv.$class-prefix}button {
    font-size:.875rem;
    @include cv.register-var("control-radius",1.078em);

    &.#{iv.$class-prefix}is-small{
      font-size:.688rem;
      @include cv.register-var("control-radius",.844em);
    }

    &.#{iv.$class-prefix}is-large{
      @include cv.register-var("control-radius",2.688em);
    }
  }

  .#{iv.$class-prefix}tag {
    font-weight:400;
    padding-left:1.2em;
    padding-right:1.2em;
    padding-top:0.6em;
    padding-bottom:0.6em;
  }

  .#{iv.$class-prefix}navbar,
  footer,
  table,
  .#{iv.$class-prefix}table,
  .#{iv.$class-prefix}pagination,
  .#{iv.$class-prefix}breadcrumb,
  .#{iv.$class-prefix}dropdown,
  .#{iv.$class-prefix}message{
    font-size: #{cv.getVar("size-small")};
  }

  // Typography

  p {
    font-family: #{cv.getVar("family-secondary")};
  }

  blockquote {
    font-style: italic;
  }

  // Indicators

  .#{iv.$class-prefix}notification {
    &,
    p {
      font-family: #{cv.getVar("family-primary")};
    }

    a {
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .#{iv.$class-prefix}button {

    &.#{iv.$class-prefix}is-outlined {
      
      &.#{iv.$class-prefix}is-light{
        @include cv.register-var("button-l",47%);
      }
      
      &.#{iv.$class-prefix}is-primary{
        @include cv.register-var("button-l",54%);
      }

      &.#{iv.$class-prefix}is-info{
        @include cv.register-var("button-l",32%);
      }

      &.#{iv.$class-prefix}is-success{
        @include cv.register-var("button-l",27%);
      }

      &.#{iv.$class-prefix}is-warning{
        @include cv.register-var("button-l",35%);
      }
    }
  }
}