@include define-skin("pulse") {
    @import "./variables.scss";
  
    $map:define-variable("orange",$orange);
    $map:define-variable("yellow",$yellow,$map);
    $map:define-variable("green",$green,$map);
    $map:define-variable("turquoise",$turquoise,$map);
    $map:define-variable("blue",$blue,$map);
    $map:define-variable("purple",$purple,$map);
    $map:define-variable("red",$red,$map);

    $map:define-variable("primary",$primary,$map);
    $map:define-variable("warning",$warning,$map);

    $map:define-variable("orange-invert",$orange-invert,$map);
    $map:define-variable("warning-invert",$warning-invert,$map);

    $map:define-variable("background",$background,$map);

    $map:define-variable("family-sans-serif",$family-sans-serif,$map);
    $map:define-variable("body-size",$body-size,$map);

    $map:define-variable("subtitle-color",$subtitle-color,$map);

    $map:define-variable("radius",$radius,$map);
    $map:define-variable("radius-small",$radius-small,$map);
    $map:define-variable("radius-large",$radius-large,$map);

    $map:define-variable("link",$link,$map);
    $map:define-variable("link-hover",$link-hover,$map);
    $map:define-variable("link-focus",$link-focus,$map);
    $map:define-variable("link-active",$link-active,$map);

    $map:define-variable("button-hover-color",$button-hover-color,$map);
    $map:define-variable("button-hover-border-color",$button-hover-border-color,$map);

    $map:define-variable("button-focus-color",$button-focus-color,$map);
    $map:define-variable("button-focus-border-color",$button-focus-border-color,$map);
    $map:define-variable("button-focus-box-shadow-size",$button-focus-box-shadow-size,$map);
    $map:define-variable("button-focus-box-shadow-color",$button-focus-box-shadow-color,$map);

    $map:define-variable("button-active-color",$button-active-color,$map);
    $map:define-variable("button-active-border-color",$button-active-border-color,$map);

    $map:define-variable("navbar-background-color",$navbar-background-color,$map);
    $map:define-variable("navbar-item-color",$navbar-item-color,$map);
    $map:define-variable("navbar-item-hover-color",$navbar-item-hover-color,$map);
    $map:define-variable("navbar-item-active-color",$navbar-item-active-color,$map);
    $map:define-variable("navbar-item-hover-background-color",$navbar-item-hover-background-color,$map);
    $map:define-variable("navbar-item-active-background-color",$navbar-item-active-background-color,$map);
    $map:define-variable("navbar-dropdown-item-active-color",$navbar-dropdown-item-active-color,$map);
    $map:define-variable("navbar-dropdown-arrow",$navbar-dropdown-arrow,$map);

    $map:define-variable("menu-item-active-background-color",$menu-item-active-background-color,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}