@use "../../../../../node_modules/bulma/sass/utilities/functions" as fn;
@use "../mixins" as mx;
@use "./_bootswatch" as bs;
@use 'sass:color';
@use 'sass:math';


@include mx.bulma-theme($name: "flatly") {

    $white:    #fff !default;
    $gray-100: #f8f9fa !default;
    $gray-200: #ecf0f1 !default;
    $gray-300: #dee2e6 !default;
    $gray-400: #ced4da !default;
    $gray-500: #b4bcc2 !default;
    $gray-600: #95a5a6 !default;
    $gray-700: #7b8a8b !default;
    $gray-800: #343a40 !default;
    $gray-900: #212529 !default;
    $black:    #000 !default;

    $blue:    #2c3e50 !default;
    $indigo:  #6610f2 !default;
    $purple:  #6f42c1 !default;
    $pink:    #e83e8c !default;
    $red:     #de2f1b !default;
    $orange:  #fd7e14 !default;
    $yellow:  #f39c12 !default;
    $green:   #18bc9c !default;
    $teal:    #20c997 !default;
    $cyan:    #3498db !default;

    @include mx.override-platform-colors((
        "primary":$blue,
        "success":$green,
        "info":$cyan,
        "warning":$yellow,
        "danger":$red,
        "light":(
            $gray-300,
            $gray-800
        ),
        "dark":(
            $gray-800,
            $gray-300
        ),
        "link":$green
    ));

    $list:mx.define-variable("family-primary",
        "Lato, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\"",
        ());
    
    $list:mx.define-variable("dropdown-divider-background-color",$gray-400,$list);

    @include mx.output-skin-content($list);

    @include bs.boot-swatch-content();
}
