@include define-skin("cyborg") {
    @import "./variables.scss";

    $map:define-variable("grey-accent",$grey-accent);
    $map:define-variable("grey-darker",$grey-darker,$map);
    $map:define-variable("grey-dark",$grey-dark,$map);
    $map:define-variable("grey",$grey,$map);
    $map:define-variable("grey-light",$grey-light,$map);
    $map:define-variable("grey-lighter",$grey-lighter,$map);

    $map:define-variable("primary",$primary,$map);
    $map:define-variable("primary-light",$primary-light,$map);
    $map:define-variable("link",$link,$map);

    $map:define-variable("white",$white,$map);
    $map:define-variable("white-ter",$white-ter,$map);

    $map:define-variable("body-background-color",$body-background-color,$map);
    $map:define-variable("background",$background,$map);
    $map:define-variable("footer-background-color",$footer-background-color,$map);

    $map:define-variable("border",$border,$map);

    $map:define-variable("title-color",$title-color,$map);
    $map:define-variable("subtitle-color",$subtitle-color,$map);
    $map:define-variable("subtitle-strong-color",$subtitle-strong-color,$map);

    $map:define-variable("text",$text,$map);
    $map:define-variable("text-light",$text-light,$map);
    $map:define-variable("text-strong",$text-strong,$map);

    $map:define-variable("box-color",$box-color,$map);
    $map:define-variable("box-background-color",$box-background-color,$map);
    $map:define-variable("box-shadow",$box-shadow,$map);

    $map:define-variable("link-hover",$link-hover,$map);
    $map:define-variable("link-focus",$link-focus,$map);
    $map:define-variable("link-active",$link-active,$map);
    $map:define-variable("link-hover-border",$link-hover-border,$map);
    $map:define-variable("link-active-border",$link-active-border,$map);

    $map:define-variable("button-color",$button-color,$map);
    $map:define-variable("button-background-color",$button-background-color,$map);
    $map:define-variable("button-border-color",$button-border-color,$map);
    $map:define-variable("button-hover-color",$button-hover-color,$map);
    $map:define-variable("button-focus",$button-focus,$map);
    $map:define-variable("button-active-color",$button-active-color,$map);

    $map:define-variable("input-color",$input-color,$map);
    $map:define-variable("input-icon-color",$input-icon-color,$map);
    $map:define-variable("input-icon-active-color",$input-icon-active-color,$map);

    $map:define-variable("table-color",$table-color,$map);
    $map:define-variable("table-head",$table-head,$map);
    $map:define-variable("table-background-color",$table-background-color,$map);
    $map:define-variable("table-cell-border",$table-cell-border,$map);

    $map:define-variable("table-row-hover-background-color",$table-row-hover-background-color,$map);
    $map:define-variable("table-striped-row-even-background-color",$table-striped-row-even-background-color,$map);
    $map:define-variable("table-striped-row-even-hover-background-color",$table-striped-row-even-hover-background-color,$map);

    $map:define-variable("pagination-border-color",$pagination-border-color,$map);
    $map:define-variable("pagination-disabled",$pagination-disabled,$map);
    $map:define-variable("pagination-disabled-background-color",$pagination-disabled-background-color,$map);

    $map:define-variable("dropdown-content-background-color",$dropdown-content-background-color,$map);
    $map:define-variable("dropdown-item-color",$dropdown-item-color,$map);

    $map:define-variable("navbar-background-color",$navbar-background-color,$map);
    $map:define-variable("navbar-item-color",$navbar-item-color,$map);
    $map:define-variable("navbar-item-hover-color",$navbar-item-hover-color,$map);
    $map:define-variable("navbar-item-hover-background-color",$navbar-item-hover-background-color,$map);
    $map:define-variable("navbar-item-active-color",$navbar-item-active-color,$map);
    $map:define-variable("navbar-item-active-background-color",$navbar-item-active-background-color,$map);

    $map:define-variable("navbar-dropdown-background-color",$navbar-dropdown-background-color,$map);
    $map:define-variable("navbar-dropdown-item-hover-color",$navbar-dropdown-item-hover-color,$map);
    $map:define-variable("navbar-dropdown-item-hover-background-color",$navbar-dropdown-item-hover-background-color,$map);
    $map:define-variable("navbar-dropdown-item-active-background-color",$navbar-dropdown-item-active-background-color,$map);
    $map:define-variable("navbar-dropdown-arrow",$navbar-dropdown-arrow,$map);

    $map:define-variable("tabs-boxed-link-active-background-color",$tabs-boxed-link-active-background-color,$map);

    $map:define-variable("file-cta-background-color",$file-cta-background-color,$map);

    $map:define-variable("progress-bar-background-color",$progress-bar-background-color,$map);

    $map:define-variable("panel-heading-background-color",$panel-heading-background-color,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}