@include define-skin("spacelab") {
    @import "./variables.scss";

    $map:define-variable("grey-darker",$grey-darker);
    $map:define-variable("grey-dark",$grey-dark,$map);
    $map:define-variable("grey",$grey,$map);
    $map:define-variable("grey-light",$grey-light,$map);
    $map:define-variable("grey-lighter",$grey-lighter,$map);
    
    $map:define-variable("orange",$orange,$map);
    $map:define-variable("green",$green,$map);
    $map:define-variable("blue",$blue,$map);
    $map:define-variable("red",$red,$map);
    
    $map:define-variable("primary",$primary,$map);
    $map:define-variable("warning",$warning,$map);
    $map:define-variable("warning-invert",$warning-invert,$map);
    $map:define-variable("link",$link,$map);
    
    $map:define-variable("family-sans-serif",$family-sans-serif,$map);
    
    $map:define-variable("subtitle-color",$subtitle-color,$map);
    
    $map:define-variable("navbar-item-active-color",$navbar-item-active-color,$map);
    $map:define-variable("navbar-item-hover-background-color",$navbar-item-hover-background-color,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}