@use "../../../../../node_modules/bulma/sass/utilities/initial-variables" as iv;
@use "../../../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../../../../../node_modules/bulma/sass/utilities/derived-variables" as dv;
@use "../mixins" as lmx;

@mixin boot-swatch-content($white, $gray-700, $gray-600){

  .#{iv.$class-prefix}pagination {
    .#{iv.$class-prefix}pagination-previous,
    .#{iv.$class-prefix}pagination-next,
    .#{iv.$class-prefix}pagination-link,
    .#{iv.$class-prefix}pagination-ellipsis {
        color:$white;
        background-color: hsl(
          #{cv.getVar("primary-h")},
          #{cv.getVar("primary-s")},
          calc(
            #{cv.getVar("primary-l")} + #{cv.getVar(
                "pagination-item-background-l-delta"
              )}
          )
        );
        border-color: hsl(
          #{cv.getVar("primary-h")},
          #{cv.getVar("primary-s")},
          calc(
            #{cv.getVar("primary-l")} + #{cv.getVar(
                "pagination-item-border-l-delta"
              )}
          )
        );
    }

    .#{iv.$class-prefix}pagination-previous,
    .#{iv.$class-prefix}pagination-next,
    .#{iv.$class-prefix}pagination-link{
      &:hover,
      &:active,
      &.#{iv.$class-prefix}is-active{
        background-color: hsl(
          #{cv.getVar("secondary-h")},
          #{cv.getVar("secondary-s")},
          calc(
            #{cv.getVar("secondary-l")} + #{cv.getVar(
                "pagination-item-background-l-delta"
              )}
          )
        );
        border-color: hsl(
          #{cv.getVar("secondary-h")},
          #{cv.getVar("secondary-s")},
          calc(
            #{cv.getVar("secondary-l")} + #{cv.getVar(
                "pagination-item-border-l-delta"
              )}
          )
        );
      }

      &:hover{
        color:$white;
      }

      &.#{iv.$class-prefix}is-disabled{
        color:$white;
        background-color:#cce8e0;
        border-color:#cce8e0;
      }
    }
  }

  a.#{iv.$class-prefix}dropdown-item,
  button.#{iv.$class-prefix}dropdown-item {
    &:hover{
      color: $white;
      background: #{cv.getVar("secondary")};
    }
  }

  .#{iv.$class-prefix}breadcrumb {
    background-color: #{cv.getVar("primary")};
    border-radius: .25rem;
  }

  .#{iv.$class-prefix}navbar,
  .#{iv.$class-prefix}button,
  .#{iv.$class-prefix}dropdown{
    font-family:#{cv.getVar("title-family")};
  }

  // Buttons

  .#{iv.$class-prefix}button{
    &.#{iv.$class-prefix}is-light,
    &.#{iv.$class-prefix}is-light:hover {
      color: $gray-700;
    }

    &.#{iv.$class-prefix}is-link.disabled:hover {
      color: $gray-600;
    }
  }

  .#{iv.$class-prefix}breadcrumb {
    a {
      color: #{cv.getVar("dark")};
    }

    a:hover {
      color: $white;
      text-decoration: none;
    }
  }

  // Indicators

  .#{iv.$class-prefix}notification {
    a{
      color: $white;
    }

    &.#{iv.$class-prefix}is-light {
      &,
      a:not(.#{iv.$class-prefix}button){
        color: #{cv.getVar("text-color")};
      }
    }
  }

  .#{iv.$class-prefix}badge {
    color: $white;

    &.#{iv.$class-prefix}is-light {
      color: $gray-700;
    }
  }

  .#{iv.$class-prefix}button {

    &.#{iv.$class-prefix}is-outlined {
      
      &.#{iv.$class-prefix}is-primary{
        @include cv.register-var("button-l",37%);
      }

      &.#{iv.$class-prefix}is-info{
        @include cv.register-var("button-l",36%);
      }

      &.#{iv.$class-prefix}is-success{
        @include cv.register-var("button-l",33%);
      }

      &.#{iv.$class-prefix}is-warning{
        @include cv.register-var("button-l",30%);
      }

      &.#{iv.$class-prefix}is-danger{
        @include cv.register-var("button-l",44%);
      }
    }
  }

  .#{iv.$class-prefix}pagination {
    @include cv.register-var("pagination-item-background-l-delta",-25%);
  }

  .#{iv.$class-prefix}tabs {
    @include cv.register-vars((
      "tabs-link-active-color":hsla(#{cv.getVar("link-h")}, #{cv.getVar("link-s")}, 60%, 1)
    ));
  }
}