@include define-skin("litera") {
    @import "./variables.scss";

    $map:define-variable("grey-darker",$grey-darker);
    $map:define-variable("grey-dark",$grey-dark,$map);
    $map:define-variable("grey",$grey,$map);
    $map:define-variable("grey-light",$grey-light,$map);
    $map:define-variable("grey-lighter",$grey-lighter,$map);

    $map:define-variable("orange",$orange,$map);
    $map:define-variable("yellow",$yellow,$map);
    $map:define-variable("green",$green,$map);
    $map:define-variable("blue",$blue,$map);
    $map:define-variable("red",$red,$map);

    $map:define-variable("link",$link,$map);
    $map:define-variable("primary",$primary,$map);
    $map:define-variable("danger",$danger,$map);

    $map:define-variable("subtitle-color",$subtitle-color,$map);

    $map:define-variable("family-heading",$family-heading,$map);

    $map:define-variable("body-size",$body-size,$map);

    $map:define-variable("family-serif",$family-serif,$map);

    $map:define-variable("navbar-height",$navbar-height,$map);
    $map:define-variable("navbar-item-hover-color",$navbar-item-hover-color,$map);
    $map:define-variable("navbar-item-hover-background-color",$navbar-item-hover-background-color,$map);
    $map:define-variable("navbar-item-active-color",$navbar-item-active-color,$map);
    $map:define-variable("navbar-item-active-background-color",$navbar-item-active-background-color,$map);

    $map:define-variable("navbar-dropdown-item-hover-color",$navbar-dropdown-item-hover-color,$map);
    $map:define-variable("navbar-dropdown-item-hover-background-color",$navbar-dropdown-item-hover-background-color,$map);
    $map:define-variable("navbar-dropdown-item-active-color",$navbar-dropdown-item-active-color,$map);
    $map:define-variable("navbar-dropdown-item-active-background-color",$navbar-dropdown-item-active-background-color,$map);

    $map:define-variable("box-shadow",$box-shadow,$map);

    @include output-skin-map($map);

    @import "../../bulma/sass/colors.scss";
    @import "./overrides.scss";
}